[submodule "deps/uc_tools"]
	path = deps/uc_tools
	url = https://github.com/zwizwa/uc_tools.git
[submodule "deps/openocd"]
	path = deps/openocd
	url = https://github.com/zwizwa/openocd.git
[submodule "deps/exo"]
	path = deps/libopencm3
	url = https://github.com/zwizwa/libopencm3.git
[submodule "deps/blackmagic"]
	path = deps/blackmagic
	url = https://github.com/zwizwa/blackmagic.git
